body {
  background-color: #0d3f67;
  font-size: 15px;
  line-height: 20px;
}

h1 {
  color: #29339B;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}


h2 {
  color:#e86ed0;
  font-family: font-family: 'Montserrat', sans-serif;
}


h3 {
  color: #0d3f67;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

p {
  color: #090088;
  font-family: 'Montserrat', sans-serif;
}

li {
  display: inline-block;
  font-size: 35px;
  margin: 5px;
}

#avatar {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.listed {
  color: #0d3f67;
}

.listed:active {
  color: #f6ef98;
}

.listed:visited {
  color: #0d3f67;
}

.listed:hover {
  color: #1ee3cf;
}

.container {
  width: 500px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

.card {
  text-align: center;
  border: 3px solid #1ee3cf;
  background: #f2f4f6;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.bio {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}


#hand {
  color: #1ee3cf;
  font-size: 28px;
}


#soundcloud {
  border-radius: 50px;
  background-color: #0d3f67;
  font-size: 18px;
  color: white;
  width: 200px;
  height: 40px;
  border: 2px solid #1ee3cf;

}

#soundcloud:hover {
  color: white;
  background-color: #1ee3cf;
}



@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  p {
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 15px;
  }

  h3 {
    font-size: 15px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }

  #avatar {
    height: 50px;
    width: 50px;
    padding-top: 10px;
  }
}
